In [10]:
print("SLICING FUNCTIONS")
str="Welcome to Python Club!"
print(str[:])
print(str[2:9])
print(str[:5])
print(str[5:])
print(str[::2])
print(str[-1])

SLICING FUNCTIONS
Welcome to Python Club!
lcome t
Welco
me to Python Club!
Wloet yhnCu!
!

In [12]:
print("TUPLE")
tup1=('a','bc',78,1.23)
tup2=('d',45)
print(tup1)
print(tup2)
print(tup1[0])
print(tup1[1:3])
print(tup1+tup2)

TUPLE
('a', 'bc', 78, 1.23)
('d', 45)
a
('bc', 78)
('a', 'bc', 78, 1.23, 'd', 45)

In [36]:
print("LIST")
list1=['a','b','c',32,45]
list2=['d',4.5,'ee']
print(list1)
print(list2)
print(list1*2)
print(list2[1])
print("Lenght of list")
print(len(list1))
print("Concatenation in list")
list3=list1+list2
print(list3)
print("Updating list")
list2[1]=100
print(list2)
print("Appending the list")
list2.append(50)
print(list2)
print("Deletion in list")
del list3[2]
print(list3)
print("Cloning list")
list4=list1
print(list4)

LIST
['a', 'b', 'c', 32, 45]
['d', 4.5, 'ee']
['a', 'b', 'c', 32, 45, 'a', 'b', 'c', 32, 45]
4.5
Lenght of list
5
Concatenation in list
['a', 'b', 'c', 32, 45, 'd', 4.5, 'ee']
Updating list
['d', 100, 'ee']
Appending the list
['d', 100, 'ee', 50]
Deletion in list
['a', 'b', 32, 45, 'd', 4.5, 'ee']
Cloning list
['a', 'b', 'c', 32, 45]

In [20]:
print("DICTIONARY")
dict1={'a':"Apple",'b':"Banana",'c':56,'d':88}
print(dict1)
print(dict1['a'])
print(dict1['b'])

DICTIONARY
{'a': 'Apple', 'b': 'Banana', 'c': 56, 'd': 88}
Apple
Banana

In [25]:
print("HERON's FORMULA")
a=float(input("Enter the 1st side of triangle:"))
b=float(input("Enter the 2nd side of triangle:"))
c=float(input("Enter the 3rd side of triangle:"))
s=(a+b+c)/2
print("s=",s)
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("Area of Triangle is ",area)

HERON's FORMULA
Enter the 1st side of triangle:5
Enter the 2nd side of triangle:6
Enter the 3rd side of triangle:7
s= 9.0
Area of Triangle is  14.696938456699069

In [29]:
print("EUCLIDEAN FORMULA")
x1=float(input("Enter the pont1 for x:"))
x2=float(input("Enter the pont2 for x:"))
y1=float(input("Enter the pont1 for y:"))
y2=float(input("Enter the pont2 for y:"))
distance=(((x2-x1)**2)+((y2-y1)**2))**0.5
print("Distance between two points is ",distance)

EUCLIDEAN FORMULA
Enter the pont1 for x:5
Enter the pont2 for x:10
Enter the pont1 for y:15
Enter the pont2 for y:30
Distance between two points is  15.811388300841896

In [28]:
print("AREA OF CIRCLE")
r=int(input("Enter radius of circle: "))
area=3.14*(r**2)
print("Area of circle is ",area)

AREA OF CIRCLE
Enter radius of circle: 5
Area of circle is  78.5

In [30]:
print("TO FIND ONE's PLACE OF A DIGIT")
num=int(input("Enter a number: "))
digit=num%10
print("One's place digit is ",digit)

TO FIND ONE's PLACE OF A DIGIT
Enter a number: 156
One's place digit is  6

In [31]:
print("ASCII values of any character")
a=input("Enter any character: ")
print("ASCII value is ",ord(a))

ASCII values of any character
Enter any character: a
ASCII value is  97

In [35]:
a=input("Enter a: ")
b=int(a)
print(type(b))

Enter a: 45
<class 'int'>